/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 8, 2021, 6:15:45 PM
    Author     : brayan
*/

body{background:#59ABE3;margin:0}
.form{width:440px;height:920px;background:#e6e6e6;border-radius:8px;box-shadow:0 0 40px -10px #000;margin:calc(50vh - 220px) auto;padding:20px 30px;max-width:calc(100vw - 40px);box-sizing:border-box;font-family:'Montserrat',sans-serif;position:relative}
.form1{width:340px;height:120px; background:#e6e6e6;border-radius:8px;box-shadow:0 0 40px -10px #000;
      margin:calc(40vh - 220px) auto;padding:10px 30px;max-width:calc(100vw - 40px);box-sizing:border-box;font-family:'Montserrat',sans-serif;position:relative}
#estilosformulrio{width:100%;padding:10px;box-sizing:border-box;background:none;outline:none;resize:none;border:0;font-family:'Montserrat',sans-serif;transition:all .3s;border-bottom:2px solid #bebed2}
#estilosformulrio:focus{border-bottom:2px solid #78788c}
p:before{content:attr(type);display:block;margin:28px 0 0;font-size:14px;color:#5a5a5a}
#submit{padding:8px 12px;margin:8px 0 
            0;font-family:'Montserrat',sans-serif;
        border:2px solid #78788c;background:0;color:#5a5a6e;cursor:pointer;transition:all .3s}
#submit:hover{background:#78788c;color:#000000}
div{position:absolute;bottom:-15px;right:170px;
    background:#50505a;color:#FFFFFF;width:320px;padding:16px 4px 16px 0;border-radius:6px;
    font-size:13px;box-shadow:10px 10px 40px -14px #000}
span{margin:0 5px 0 15px}