/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 9, 2021, 12:54:32 PM
    Author     : brayan
*/

body{background:#59ABE3;margin:0}
#opcionesAdministrador{width:460px;height:200px; background:#e6e6e6;border-radius:8px;box-shadow:0 0 40px -10px #000;
      margin:calc(40vh - 220px) auto;padding:10px 30px;max-width:calc(100vw - 40px);box-sizing:border-box;font-family:'Montserrat',sans-serif;position:relative}
#submit{padding:8px 12px;margin:8px 0 
            0; aligfont-family:'Montserrat',sans-serif;
        border:2px solid #78788c;background:0;color:#5a5a6e;cursor:pointer;transition:all .3s}
#submit:hover{background:#78788c;color:#000000}
.form{width:1140px;height:220px;background:#e6e6e6;border-radius:8px;box-shadow:0 0 40px -10px #000;margin:calc(50vh - 220px) auto;padding:20px 30px;max-width:calc(100vw - 40px);box-sizing:border-box;font-family:'Montserrat',sans-serif;position:relative}
